body {
  background-image: url(/image/background.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.header {
  background-color: transparent !important;
  position: relative !important;
  top: 0;
  left: 0;
  z-index: 10;
  height: 0;
  margin-top: 0;
}

.head-outer {
  height: 0;
  width: 0;
}

.name {
  text-decoration: none;
  color: #531ed2;
}

.nav {
  color: white !important;
  background-color: black !important;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav img {
  height: 80px;
  width: 100px;
}

.navbar-item {
  display: inline-block;
  color: white;
  padding: 30px 16px;
  height: 100%;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: rgb(226, 221, 215);
  color: black;
  text-decoration: none;
  transition: ease-in-out 0.4s;
}

#games {
  max-width: 100vw;
  margin: auto;
}

#collection {
  padding: 20px 0;
  background-color: antiquewhite;
}

.collection-inner {
  border-radius: 10px;
  padding: 32px;
  background: #fff;
  margin: 80px 40px;
}

#mods {
  background-image: url(8b28ea342abe529f205a4a13af64b32b.jpg);
  padding: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

#media {
  padding: 20px 0;
  background-image: url(cute-light-blue-background-pt0tnt7g7p9uzkwp.jpg);
  padding-top: 90px;
}

#mods {
  padding-top: 90px;
}

#sigin {
  padding: 32px 0px;
}

.third {
  transition: all 0.5s ease;
  width: 200px;
  margin: 0 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: gray;
}

.third:hover {
  cursor: pointer;
}

.third img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h4 {
  color: white;
}

/* .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
} */
/* 
.container img {


  display: block;
} */

.margin-fix {
  padding-top: 84px;
  text-align: center;
}

.section-1 {
  background-image: url("../image/bg_game_header.jpg");
  background-size: cover;
}

img {
  width: 100%;
}

.title {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 16px;
}

p {
  text-align: center;
  color: white;
}

.row h4 {
  size: 5px;
  text-overflow: ellipsis;
}

.game-title {
  margin-top: 16px;
}

button {
  text-align: center;
  color: purple;
}

footer {
  background-color: black;
  margin: 10 0;
}

footer p {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 32px 0px;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-image-source: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #fff 52%,
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
}

.footer-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-link a {
  text-decoration: none;
  color: #ffffff99;
  display: flex;
  margin-bottom: 12px;
}

.footer-link :hover {
  color: #d98f40;
  text-decoration: none;
}

.mod-vault {
  margin: 10 0;
  padding: 10 0;
}

.left-footer {
  display: flex;
  gap: 64px;
  width: 75%;
}

.right-footer {
  width: 25%;
  flex: 1;
}

.footer-btn-premium {
  width: 100%;
  background-color: #d98f40;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 8px;
  border: 0;
  border-radius: 2px;
}

.network-stats h3 {
  color: white;
  font-size: 15px;
}

.networkstats {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.networkstats h4 {
  font-size: 15px;
  margin: 0;
}
.networkstats li {
  flex-basis: 50%;
  color: #8f948e;
  font-size: 13px;
}

.stat {
  margin-bottom: 10px;
}

.content-contact {
  flex-basis: 100%;
  display: flex;
}

.logo-contact {
  flex-basis: 50%;
}

.social-contact {
  flex-basis: 50%;
}
.amount {
  border: 0;
  background-color: #d98f40;
  border-radius: 2px;
  color: #fff;
  margin: 25px;
  padding: 10px;
}

.section-1 {
  text-align: center;
}

.line {
  /* background-color: #2454b2;
  color: #fff;
  position: absolute; */
}

.bar-icon-icon {
  width: 60px;
}

.bar-icon {
  margin: 0px 80px;
}

.bar {
  border-top: 1px solid #5d5d5d;
  background-color: #222;
}

.bar-items {
  max-width: 940px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
}

.span {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-right: 16px;
}

.bar-icon-wrapper {
  display: flex;
}

.bar-info {
  color: white;
  width: 256px;
  font-size: 14px;
  font-weight: 400;
}

.bar-btn {
  width: 100%;
  background-color: transparent;
  color: #d98f40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #d98f40;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
  letter-spacing: 1.25px;
  font-size: 14px;
  min-width: 150px;
  margin: 0 80px;
}

.bar-btn:hover {
  background-color: #d98f40;
  color: white;
}

.icon {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.icon:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: flex;
}

.social-wrapper {
  display: flex;
}
.amount {
  background-color: #d98f40;
  color: white;
  border: 10px;
  margin: 20px;
  background-color: #ce924f;
  padding: 10px;
}

.amount :hover {
  background-color: #9d6a34;
}
.databg {
  font-size: 20px;
  background-color: #2454b2;
  border-radius: 10px;
  position: relative;
  height: 68px;
  padding: 16px;
  margin-top: 20px;
}

.inddam {
  size: 10px;
  color: white;
}

/* .Pic {
position: absolute;
right: 4px;
  top: 4px;
  height: 100%;
clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
 background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 644px;
  object-fit: cover;
  object-position: 0%;

}
.Pic img {
  object-fit: cover;
} */
.picture {
  position: absolute;
  right: 4px;
  top: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
}
.footer-btn-premium:hover {
  color: white;
  transition: all 0.2s ease-in-out;
  background-color: #ce7f45;
}

.content {
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: flex-end;
  width: auto;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}
.copyrights {
  width: 100%;
}

.copyrights-content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 0 20px 0;
  flex-direction: row;
  text-align: left;
  padding: 20px 15px;
  border-top: 1px solid #5d5d5d;
}

.rj-copyright {
  color: rgba(255, 255, 255, 0.6);
}

.copyrights-link {
  color: white;
}

.copyrights-link a {
  color: white;
}

.copyrights-link a:hover {
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  color: #d98f40;
}

.line {
  text-align: left;
  size: 5px;
  color: white;
  display: flex;
  align-items: center;
}

.banner {
  flex: 1;
  height: 24px;
  width: 24px;
  background-position: center;
  background: no-repeat;
  color: white;
  letter-spacing: 0.15px;
}

.user-profile-menu-icon-collections {
  display: inline-block;
  background-image: url(https://www.nexusmods.com/assets/images/icons/icon-collections.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.indam{
  font-weight: 700;
}
.line a{
  font-weight: 100;
}
/* .expandtitle-img:hover {
  opacity: 1;
}

.btnexpand {
  text-indent: 0;
  list-style: none;
  overflow: visible;
}

.add_favourite {
  display: block;
  font-size: 11px;
  padding: 4px 5px;
  color: #fff;
  text-transform: uppercase;
} */

.title-game {
  position: relative;
}

.expandtitle-img {
  position: absolute;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-plus {
  width: 10px;
  height: 10px;
}

.load {
  position: absolute;
  top: 4px;
  right: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
}

.tild {
  color: white;
  left: 15px;
  padding: 15px;
}
