* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/image/auth_bg-d3ae036f91b9268b6a8eb85b0a433a9dea0412ec9a4864b33f000986c1300465.png");
}

.signin-container {
  background-color: #222222;
  width: 50%;
  height: 100vh;
}

.signin-info {
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.signin-header {
  color: white;
  font-size: 24px;
}

.signin-header span {
  color: #d98f40;
}

.info input {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  margin: 16px 0 16px 0;
  outline: none;
}

.email {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 10px;
}

.btn-signin {
  width: 100%;
  padding: 5px;
  background-color: #d98f40;
  border-radius: 8px;
  color: white;
  padding: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
}

.btn-signin:hover {
  background-color: #bb6333;
}
.des {
  color: #a7a7a7;
  margin: 16px 0 16px 0;
  font-size: 18px;
}

.des span {
  color: white;
}

.help {
  font-size: 18px;
}

.help > * {
  margin-top: 12px;
}

.help label {
  color: white;
  margin: 16px 0 16px 12px;
}

.help p {
  color: white;
}

.help p a {
  text-decoration: none;
  color: #57a5cc;
}

.help p a:hover {
  color: #d98f40;
}
