body {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    background-image: url(/image/auth_bg-d3ae036f91b9268b6a8eb85b0a433a9dea0412ec9a4864b33f000986c1300465.png);

}
.signup {
    border-left: 1px solid rgba(255, 255, 255, .16);
    max-width: 50%;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    background-color: #222222;
    box-sizing: border-box;
    padding: 40px 0;
    font-size: 30px;
}

.signup h1 {
    margin-top: 0;
}
.signup input {
    padding: 16px;
}

h1 span {
    color: #d98f40;
    font-family: Montserrat, Helvetica, sans-serif;
}
.test {
    color: #57a5cc;
    text-decoration: none;
}
.test:hover {
    color: orange;
    text-decoration: underline;
}

.aquire-help {
    color: #57a5cc;
    text-decoration: none;
}

.aquire-help:hover {
    color: orange;
    text-decoration: underline;
}
.email {
    margin: 5px 3.5px 10px 0;
    
}

.btn-primary {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    position: relative;
    left: 100px;
    background-color: #d98f40;
    color: white;
    transition: all .1s ease-in-out;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #bb6333;
    
}
.info {
    
}

.button {
   
}

.Remember {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}